.btnGroup {
  display: flex;
  justify-content: space-between;
}
.deleteBtn {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}

.submitBtn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
