.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);

  text-decoration: none;
  color: #495057;
}

.container:hover {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.content {
  margin-bottom: 0.25rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  margin-bottom: 0.25rem;
}
