.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  color: #666;
  padding: 20px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: rgba(0, 0, 0, 0.125) solid 1px;
  border-raius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.quote {
  color: #999;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 12px;
}
