.container {
  min-height: 520px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1280px;
  padding-bottom: 170px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}
